<!--maximum images are loaded from web using url of the image provided in the assignment, because some of 
    the image are corrupted after dowloading so i did not use dowloded images-->
<div class="outer">
    <div class="upper-inner">
        <div class="upper-left">
            <div class="header">
                <img class="logo-img"
                    src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=27a80c31-8bbf-475a-9194-19d1a0b772f6&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377" alt="unable to load if using dowloaded image">
            </div>
            <img class="img-ul-1"
                src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=6766d625-9d51-432c-92a0-e1cdd6df0b58&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
            <img class="img-ul-2"
                src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=3f574e31-54d0-4277-88b9-6dbde395674c&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
        </div>
        <div class="middle-img">
            <div>
                <img class="img-ul-3"
                    src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=58c60eb1-b81b-4a1b-8650-28cdf08be8ee&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                <img class="img-ul-4"
                    scr="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=16ca30bc-18e9-4d77-9a74-1de68e1bd30c&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                <img class="img-ul-5"
                    src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=cedbc98d-0525-4c49-bc43-08befea3bb4c&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
            </div>
        </div>
        <div class="upper-right">
            <div class="upper-right-inner">
                <img class="img-ur-1"
                    src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=754f0969-2a8b-4900-859d-e155ce09813b&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                <img class="img-ur-2"
                    src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=3f574e31-54d0-4277-88b9-6dbde395674c&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
            </div>
            <div class="middle-right">
                <div class="middle-right-header">
                    <h4 style="margin-right: 20px;">Products</h4>
                    <h4 style="margin-right: 20px;">Solutions</h4>
                    <h4 style="margin-right: 20px;">Pricing</h4>
                    <button
                        style="margin-right: 20px; margin-top: 15px; height: 25px; width: 80px; border-radius: 25px;border: 2px solid #663399; color: #663399;">
                        Login
                    </button>
                    <button
                        style="margin-top: 15px; height: 25px; width: 100px; border-radius: 25px; background-color: #663399; color: #FFFFFF">
                        Get Started
                    </button>
                </div>
                <div class="calc-img">
                    <img class="img-ur-3"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=d76a02db-b22c-43a4-9d5c-acd2d839acd4&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                </div>
            </div>
        </div>
    </div>

    <div class="lower-inner">
        <div class="items">
            <div class="left-items">
                
                   <div class="inner-img-left-item-1">
                            <img class="left-inner-item-1-img-1"
                                src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=f832d41b-539e-4292-9060-aa5e34704ce8&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                            <img class="left-inner-item-1-img-2"
                                src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=63a0d103-7d34-43db-a47b-ce9d0fd81107&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                            <img class="left-inner-item-1-img-3"
                                src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=8d5d05a7-0d4b-4181-a2c2-538366452ca9&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    </div>

                <div class="inner-img-left-item-2">
                    <img class="left-inner-item-2-img-1"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=d8380dc3-2615-4b20-b46a-058627f22baa&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <img class="left-inner-item-2-img-2"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=3f93a4b0-9c7b-475f-9744-a3a11b6fafa6&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <img class="left-inner-item-2-img-3"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=8d9c7124-2d84-4dd2-857e-b6eed2ae2591&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                </div>

                <div class="inner-img-left-item-3">
                    <img class="left-inner-item-3-img-1"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=88fc825f-981c-4a8e-a316-f374fdbe21ce&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <img class="left-inner-item-3-img-2"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=fe0a9f9c-686c-460d-895c-1da02f9af940&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <img class="left-inner-item-3-img-3"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=dfdc47c6-3079-44d5-8251-0277cd0fca73&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                </div>
            </div>

            <div class="middle-items">
                <div class="inner-img-middle-item-1">
                    <img class="middle-inner-item-1-img-1"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=7e76c77a-3ca2-47a7-923c-f82811d1bf87&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <img class="middle-inner-item-1-img-2"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=312d4ad0-12aa-4af9-9eaa-e6a93c7d41a0&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <img class="middle-inner-item-1-img-3"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=c60a01a5-e918-4bac-a6c1-5a7ede4b0a21&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                </div>

                <div class="inner-img-middle-item-2">
                    <img class="middle-inner-item-2-img-1"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=149be267-1f80-437f-bbac-f99c7afff0b9&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <img class="middle-inner-item-2-img-2"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=6d898474-931a-43b6-8343-d17ced9a44cb&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <img class="middle-inner-item-2-img-3"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=98d83ca5-ea6d-48bf-a752-c9863b76322b&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                </div>
            </div>

            <div class="right-items">
                <div class="inner-right-items">
                    <img class="inner-right-item-img-1"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=a8cac143-5f6e-48d5-96b9-2f3a36bcfd6a&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <img class="inner-right-item-img-2"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=16ca30bc-18e9-4d77-9a74-1de68e1bd30c&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <img class="inner-right-item-img-3"
                        src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=b5395322-1f4b-45b3-b995-ac28844905dc&api_key=CometServer1&access_token=1610296537_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_990e5d018b43949720d5553a7aaefeef00f42377">
                    <button
                        style="height: 30px; margin-top: 30px; width: 150px; border-radius: 30px; border: 2px solid #663399; color: #663399;">
                        Get an Open Acount
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
